.Header {
  height: 68px;
}

.h-container {
  /* height: 36px; */
  /* height: 100%; */
  width: 100%;
  display: flex;
  padding: 0px 32px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  flex: 1 0 0;
  position: fixed;
  background-color: var(--Gray-50, #F9FAFB);
  top: 0;
}

.Navigation {
  height: 100%;
  width: auto;
  display: flex;
  padding: 0px 81px;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

li.nav-item {
  list-style: none;
}

/* .Navlink:hover {
  text-decoration: underline;
} */

.nav-item {
  display: inline-block;
  position: relative;
}

.Navlink {
  color: #333;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.Navlink::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; /* Adjust the underline height as needed */
  background: linear-gradient(90deg, #fff 0%, #007bff 100%); /* Adjust the colors as needed */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.Navlink:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.h1 {
  color: var(--Gray-900, #111827);
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  /* 120% */
  letter-spacing: -0.6px;
}

button {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  background: var(--Gray-900, #111827);
  color: aliceblue;
}